#conatiner
{
margin:0 auto;
width:800px;
height:600px;
border:1px #8B8888 solid;
}
#conatiner1
{
margin:0 auto;
width:600px;
height:500px;
border:1px #8B8888 solid;
margin-top:20px;
}
.left-menu
{
width:150px;
height:40px;
background-color:#3EA99F;
border-top:1px #FFFFFF solid;
color:white;
}
a
{
text-decoration:none;
color:white;
}
a:hover
{
font-weight:bold;
}
.header
{
height:115px;
width:800px;
background-image:url('../images/sirfdosti-site_01.gif') ;
text-align:center;
color:white;
}
.header1
{
height:50px;
width:600px;
background-color:#3EA99F;
text-align:center;
color:white;
}
.mid-panel
{
width:800px;
height:261px;
float:left;
}
.mid-left
{
width:485px;
height:261px;
background-image:url('../images/sirfdosti-site_03.gif');
float:left;
}
.mid-right
{
width:315px;
height:261px;
background-image:url('../images/sirfdosti-site_04.gif');
float:right;
}
.footer
{
width:800px;
height:103px;
background-image:url('../images/grass-sirfosti.gif');
float:left;
}
.registration
{
width:400px;
height:450px;
margin:0 auto    ;
border:1px #8B8888 solid;
}
.registration-text
{
width:100px; 
float:left; 
padding-left:10px;
}
.registration-feild
{
width:180px; 
float:left;
padding-left:10px; 
padding-top:3px;
}
.error
{
width:100px;
height:40px;
color:#FF0000;
font-size:10px;
margin-left:280px;
}